.navbar-logo {
  height: 50%;
  width: 50%;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  background-color: #7edbf7;
  display: flex;
  flex-direction: row;
  margin: 10%;
  padding: 3%;
  border-radius: 10px;
}

.carousel-img {
  width: 600px;
  height: 500px;
}

.sol-heading {
  text-align: center;
}

.top-heading {
  font-size: 30px;
  color: blue;
}

.top-left-container {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-button {
  background-color: lightblue;
  border-width: 0px;
  cursor: pointer;
  width: 180px;
  padding: 10px;
  border-radius: 16px;
}

.navbarr {
  display: flex;
  justify-content: space-between;
}

.top-container {
  display: flex;
  margin: 10%;
}

.top-img {
  width: 100%;
}

.solutions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sol-passage {
  width: 700px;
  text-align: center;
}

.about-img {
  width: 300px;
}

.domain-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.domain-part {
  display: flex;
}

.domain-img {
  width: 600px;
}

.domain-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
}

.domain-heading {
  color: #40cbf5;
}

.contact-section {
  background-color: black;
  color: white;
  padding: 2%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.contact-sub-sections {
  display: flex;
}

.sub-section {
  margin: 3%;
  margin-left: 10%;
}

.follow-us-section {
  margin-top: 40px;
}

.icons {
  margin-top: 5px;
}

.full-icon {
  margin-top: 10px;
}

.sub-name {
  margin-left: 20px;
}

.nav-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-input {
  margin-left: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
